*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "saster";
    src: url(Fonts/Schluber.otf);
}

.MainTitle {
    font-family: "saster";
    text-align: center;
    font-size: calc(3vw + 3vh);
}
.LinkBlack {
    color: blue;
    transition: 0.4s;
}

.LinkBlack:hover {
    color: rgb(0, 153, 255);
}
.extra {
    text-align: center;
    font-size: calc(1.1vw + 1.1vh);
}

.images {
    height: 38.5vh;
    width: 100%;
    /*width: 640px;*/
    top: 200px;   
    transition: 0.6s;
    filter: brightness(50%);
    right: 0px;
    transform: scale(1);
    transform-origin: center;
}

.imageslocked {
    height: 38.5vh;
    width: 100%;
    top: 200px;   
    
}
.username {
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    font-weight: bold;
    bottom: 20px;
    font-size: calc(0.8vw + 1vh);
    color: blue;
    transition: 0.4s;
}

.username:hover {
    color: rgb(0, 153, 255);
}

body, html {
    height: 100%;
}

/*.Content {
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    z-index: 3;
    transition: 0.6s;
}*/
.Projects div{
    width: 33.7vw;
    height: 48vh;
    transition: 0.6s;
    transform: scale(1);
    transform-origin: center;
    .Content {
        transform: scale(1); 
        transform-origin: center;    
        width: 100%;
        height: 100%;
        font-size: calc(0.7vw + 0.7vh);
        top: 0px;
        left: 0px;
        position: absolute;
        background: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 0;
        z-index: 3;
        transition: 0.4s;
    }
}

.Projects div:hover {
    transform: scale(1.05);
    transform-origin: center;
    .Content {
        transform: scale(1);    
        opacity: 1;
        color:#ffe100;
        margin-bottom: 15px;
    }
}

div[id*="locked"]:not(.Content) {
    filter: brightness(40%);
    transition: 0.4s;
}
div[id*="locked"]:hover {
    filter: brightness(100%);
}



.images:hover {
    filter: brightness(100%);
}


@font-face {
    font-family: "Font1";
    src: url(Fonts/MarioLuigi2.ttf);
}
@font-face {
    font-family: "Font2";
    src: url(Fonts/TopShow.otf);
}

.AYSTITLE {
    font-family: "Font2";
    font-size: calc(1.5vw + 1.5vh);
    font-weight: bold;
    color: black;
}

.bg {
    /* The image used */
    background-image: url(Images/costume5.png);
    
    z-index: 0;
    /* Full height */
    height: 245vh;
  
    /* Center and scale the image nicely */
    image-rendering: optimizeSpeed;
    image-rendering: pixelated;
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: 160px;
  

    animation: animate-bg 300s infinite linear;
  }

@keyframes animate-bg {
    100% {
        background-position:1500000px 1400000px;
    }
}

.Project1 {
    object-position: 10px 50px;
    border: 15px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    position: absolute;
    z-index: 2;
    top: 25vh;
    right: 55vw;
}
.Project2 {
    object-position: 10px 50px;
    border: 15px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    position: absolute;
    z-index: 2;
    top: 25vh;
    right: 10vw;
}
.Project3 {
    object-position: 10px 50px;
    border: 15px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    position: absolute;
    z-index: 2;
    top: 85vh;
    right: 55vw;
}
.Project4 {
    object-position: 10px 50px;
    border: 15px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    position: absolute;
    z-index: 2;
    top: 85vh;
    right: 10vw;
}
.Project5 {
    object-position: 10px 50px;
    border: 15px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    position: absolute;
    z-index: 2;
    top: 145vh;
    right: 55vw;
}
.Project6 {
    object-position: 10px 50px;
    border: 15px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    position: absolute;
    z-index: 2;
    top: 145vh;
    right: 10vw;
}
.Project7 {
    object-position: 10px 50px;
    border: 15px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    position: absolute;
    z-index: 2;
    top: 205vh;
    right: 55vw;
}
.Project8 {
    object-position: 10px 50px;
    border: 15px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    position: absolute;
    z-index: 2;
    top: 205vh;
    right: 10vw;
}